# Xcode
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcworkspace/xcuserdata/
xcuserdata/

# macOS
.DS_Store
*.swp
*~

# Build artifacts
*.o
*.d
*.app
*.ipa
*.dSYM.zip
*.dSYM

# Debug logs
*.log
build_output*.txt
